body {
    background-color: var(--background-color);
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

hr {
    width: 100%;
    margin-top: 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}